JWT_SECRET=P9$vL2^nsdfsdaffdspY3aN6dE1sB8uT5mG9zV4sddd
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/folder/
IMAGEKIT_PRIVATE_KEY=private_Wasdfdfdddn2eVOwssss
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_ssss/kT/97l1+sdfsdf
POSTGRES_URL=postgresql://rustdb_ddddssss
BTC_ADDRESS=bc1qr7a9pqga96j5l49q00vrdcx495khl4fh525986
ETH_ADDRESS=0xFFaA8aD4001161ACAA8769D1c5ae40735DbAe4C1
GOOGLE_MYWINE_APP_PASSWORD=micvsdfsdfxxx
GOOGLE_MYWINE_EMAIL=xxx@gmail.com
